@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  display: flex;
  background-color: #141218;
  min-height: 100vh;
  color : #fff;
}
